body {
    margin: 60px auto;
    width: 70%;
    font-family: 'Open Sans', sans-serif;
    background-image: url(https://emiralkafagi.me/img/galaxy.jpg);
    background-size: cover;
    background-color: black;
    background-repeat: no-repeat;
    background-position: center center;
    background-attachment: fixed;
}
nav {
  border-bottom: solid black 1px;
    padding-left: 10px;
    align-items: center;
    margin-left: 0%;
    margin-top: -61px;
    padding-top: 3px;
    text-decoration: none;
    min-width: 228px;
}
nav ul, footer ul {
   font-family: 'Open Sans', sans-serif;
    padding: 0px;
    list-style: none;
    font-weight: bold;
}
nav ul li, footer ul li {
    display: inline;
    margin-right: 20px;
}
a {
    text-decoration: none;
    font-weight:bold;
    color: #3399ff;
}
a:hover {
    text-decoration: underline;
    color: #F6A419;
}
h1 {
    font-size: 3em;
    
    text-align:center;
    margin-top:0;
}
h2 {
    text-align:center;
    margin-bottom:0;
}
p {
    font-size: 1em;
    line-height: 1.4em;
    color: #fff;
}
footer {
    border-top: 1px solid #d5d5d5;
    font-size: .8em;
}
footer ul {
    max-width: 230px;
    margin-left: auto;
    margin-right: auto;
}

ul.posts { 
    margin: 20px auto 40px; 
    font-size: 1.2em;
}

ul.posts li {
    list-style: none;
}

.info {
    max-width: 441px;
    margin-left: auto;
    margin-right: auto;
    margin-top:10px;
}
.emir {
    width: 60%;
    margin-left: auto;
    margin-right: auto;
    display: block;
    border: solid 10px #3399ff;
    border-radius: 50%;
}
.myname {
    margin-bottom:0;
}
.postimg {
    display: block;
    max-width: 250px;
    margin-left: auto;
    margin-right: auto;
    margin-top: 15px;
    margin-bottom: 15px;
}
.highlight {
   border: solid 2px #3399ff;
    padding-left: 15px;
    background-color: #EDF6FF;
    border-radius: 5px;
}
.postdescription {
    font-style: italic;
    font-weight: bold;
    background: #E0F0FF;
    border-radius: 10px;
    padding: 10px;
}
.postdate {
    font-weight: bold;
    font-size: 0.8em;
    color: #fff;
}
.postexcerpt {
    font-size: 0.8em;
    line-height: 1.2em;
    margin-top: 0;
    color: rgba(255, 255, 255, 0.8);
}
.social li{
    display:inline;

}  
.social {
    padding-left: 0;
}  
.fb_iframe_widget{
    position:relative;
    top:-5px;
}
/*
 * Sidebar
 *
 * Flexible banner for housing site name, intro, and "footer" content. Starts
 * out above content in mobile and later moves to the side with wider viewports.
 */

.sidebar {
  text-align: center;
  padding: 2rem 1rem;
  color: rgba(255,255,255,.5);
  background-color: #202020;
}
@media (min-width: 48em) {
  .sidebar {
    position: fixed;
    top: 0;
    left: 0;
    bottom: 0;
    width: 18rem;
    text-align: left;
  }
}

/* Sidebar links */
.sidebar a {
  color: #fff;
}

/* About section */
.sidebar-about h1 {
  color: #fff;
  margin-top: 0;
  font-family: "Abril Fatface", serif;
  font-size: 3.25rem;
}

/* Sidebar nav */
.sidebar-nav {
  margin-bottom: 1rem;
}
.sidebar-nav-item {
  display: block;
  line-height: 1.75;
}
a.sidebar-nav-item:hover,
a.sidebar-nav-item:focus {
  text-decoration: underline;
}
.sidebar-nav-item.active {
  font-weight: bold;
}

/* Sticky sidebar
 *
 * Add the `sidebar-sticky` class to the sidebar's container to affix it the
 * contents to the bottom of the sidebar in tablets and up.
 */

@media (min-width: 48em) {
  .sidebar-sticky {
    position: absolute;
    right:  1rem;
    bottom: 1rem;
    left:   1rem;
  }
}


/* Container
 *
 * Align the contents of the site above the proper threshold with some margin-fu
 * with a 25%-wide `.sidebar`.
 */

.content {
  padding-top:    4rem;
  padding-bottom: 4rem;
}

@media (min-width: 48em) {
  .content {
    max-width: 38rem;
    margin-left: 20rem;
    margin-right: 2rem;
  }
}

@media (min-width: 64em) {
  .content {
    margin-left: 22rem;
    margin-right: 4rem;
  }
}
h1, h2, h3, h4 {
    color: #fff;
}
