	<head>
	
		{% include og.html %}
		{% include tw.html %}
		{% include analytics.html %}
		{% include fbpixel.html %}
		<link rel="stylesheet" type="text/css" href="/css/main.css">
		<link href='https://fonts.googleapis.com/css?family=Open+Sans:400,700,800' rel='stylesheet' type='text/css'>
		<link rel="shortcut icon" type="image/png" href="/img/fav.png">
		<link rel="alternate" href="/" hreflang="en-us" />
		<meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1">
		<meta property="fb:pages" content="701599109903244" />
	</head>
