	<head>
		<link rel="canonical" href=" {{ site.url }}{{ page.url }} ">
		<script type="text/javascript">
    var host = "emiralkafagi.me";
    if ((host == window.location.host) && (window.location.protocol != "https:"))
        window.location.protocol = "https";
</script>
		{% include og.html %}
		{% include tw.html %}
		{% include analytics.html %}
		<link rel="stylesheet" type="text/css" href="/css/main.css">
		<link href='https://fonts.googleapis.com/css?family=Open+Sans:400,700,800' rel='stylesheet' type='text/css'>
		<link rel="shortcut icon" type="image/png" href="/img/fav.png">
	</head>
