<!DOCTYPE html>
<html>
{% include head.html %}
	<body>
		<nav>
    		<ul>
        		<li><a href="/">Home!</a></li>
        		<li><a href="https://mk.linkedin.com/in/emiralkafagi">CV</a></li>
        		<li><a href="emiralkafagi.me/blog/">Blog</a></li>
        		<li><a href="emiralkafagi.me/features/">Features</a></li>
        		<li><a href="http://emiralkafagi.me/blog/atom.xml">RSS</a></li>
    		</ul>
		</nav>
		<div class="container">
			
			{{ content }}
			
			</div><!-- /.container -->
			<footer>
    		<ul>
        		<li><a href="mailto:emir.alkafagi@gmail.com">email</a></li>
        		<li><a href="https://github.com/emirmkd">github.com/emirmkd</a></li>
			</ul>
		</footer>
	</body>
</html>
