---
layout: default
comments: true
---
<h1>{{ page.title }}</h1>
<p class="meta postdate" style="font-weight:bold;">Date: {{ page.date | date_to_string }}</p>
<title>{{ page.title }} | Emir Al-Kafagi</title>
<div class="post">
  <!--- Facebook save button! -->
  <div class="fb-save" data-uri="{{ page.url }}" data-size="small"></div>
   <!--- Facebook share button! -->
  <div class="fb-share-button" data-href="{{ page.url }}" data-layout="icon_link" data-mobile-iframe="true"><a class="fb-xfbml-parse-ignore" target="_blank" href="https://www.facebook.com/sharer/sharer.php?u=https%3A%2F%2Femiralkafagime%2F&amp;src=sdkpreparse">Share</a></div>
  {{ content }}
 <!--- <div class="fb-comments" data-href="https://emiralkafagi.me" data-numposts="5"></div>
  -->
  {% if page.comments %}
<div id="disqus_thread"></div>
<script>
    /**
     *  RECOMMENDED CONFIGURATION VARIABLES: EDIT AND UNCOMMENT THE SECTION BELOW TO INSERT DYNAMIC VALUES FROM YOUR PLATFORM OR CMS.
     *  LEARN WHY DEFINING THESE VARIABLES IS IMPORTANT: https://disqus.com/admin/universalcode/#configuration-variables
     */
    
    var disqus_config = function () {
        this.page.url = "{{ page.url }}";  // Replace PAGE_URL with your page's canonical URL variable */
        this.page.identifier = "{{ page.url }}"; // Replace PAGE_IDENTIFIER with your page's unique identifier variable
    };
    
    (function() {  // DON'T EDIT BELOW THIS LINE
        var d = document, s = d.createElement('script');
        
        s.src = '//emiralkafagi.disqus.com/embed.js';
        
        s.setAttribute('data-timestamp', +new Date());
        (d.head || d.body).appendChild(s);
    })();
</script>
<noscript>Please enable JavaScript to view the <a href="https://disqus.com/?ref_noscript" rel="nofollow">comments powered by Disqus.</a></noscript>
{% endif %}
</div>

